*
!.gitempty
!.gitignore
!.git/
!.git/**
!.github/
!.github/**
!.vscode/
!.vscode/**

!.dockerignore
!Dockerfile
!docker-compose.yaml

!.pre-commit-config.yaml

!CHANGELOG.md
!LICENCE
!README.md
!SECURITY.md

!backend/
!backend/**
!frontend/
!frontend/**
