*
!app/
!app/**
!conf/
!/conf/**
!scripts/
!scripts/**
scripts/logs/**
!tests/
!tests/**

!.env_project
!.env_template_kons
!.env_template_prod
!pyproject.toml
!requirements_dev.txt
!requirements.txt
!setup.cfg
!setup.py
!tox.ini
